@font-face {
    font-family: 'PTSans Regular';
    src: url('../fonts/PTSans/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans Bold';
    src:
        url('../fonts/PTSans/PTSans-Regular.woff') format('woff'),
        url('../fonts/PTSans/PTSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Staatliches';
    src: url('../fonts/Staatliches/Staatliches-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
 font-family: "Francois One", sans-serif;
 src: url('../fonts/Francois_One/FrancoisOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: bold;
}
@font-face {
    font-family: 'Farro-light';
    src: url('../fonts/Farro/Farro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

